{% extends "base/base.html.twig" %}

{% block content %}
    <h1>Welcome to RedMars.</h1>
    <h2>A PHP bootstrap with all you can ever need.</h2>
    <h3>Intro</h3>
    <p>
        This Framework is based on the wonderful <a target="_blank" href="https://github.com/vanting/RedSlim">RedSlim</a>. It was a fork as initially I just needed to update Bootstrap to version 3, but with time too many things have changed and now it should probably be mantained on its own repo.
    </p>
    <h3>Description</h3>
    <p>
        This framework is a collection of micro-frameworks, all well documented, well tested and amazing to use. If you know OOP PHP (or if you would like to learn it) and if you want to have full control on any line of code this is for you.
    </p>
    <p>
        RedMars includes:
        <ul>
            <li>Slim framework for the MVC/routing,</li>
            <li>it handles database ORM with RedBeanPHP,</li>
            <li>templating with Twig</li>
            <li>UI, CSS and basic JS effects with Twitter Bootstrap (version 3)</li>
            <li>and it includes jQuery for your JavaScript news</li>
        </ul>
    </p>
{% endblock content %}
